<div>
  <div class="card" style="width: 18rem;" *ngIf="!isLoaded">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Loading</h5>
      <a class="card-link" [routerLink]="['/users']">Go back</a>
    </div>
  </div>
</div>
<div *ngIf="isLoaded">

<div>
  <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img [src]="json.post.avatar" class="card-img-top" [alt]="json.post.avatarusuario">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{json.post.title}}</h5>
        <p class="card-text">{{json.post.review}}</p>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
  </div>
</div>
</div>
<div class="card mb-3" style="max-width: 540px;" *ngFor="let comment of json.results">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img [src]="comment.usuarioavatar" class="card-img-top" [alt]="comment.usuariocomment">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <!-- <h5 class="card-title">{{comment.title}}</h5> -->
        <p class="card-text">{{comment.comment}}</p>
        <!-- <button type="button" (click)="comment(post.id)" class="btn btn-success">Comment!</button> -->
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
  </div>
</div>
<div>
  <form (ngSubmit)="guardar(forma)" #forma="ngForm"  >
    <div class="form-group">
      <label for="exampleInputEmail1">Comment</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Comentario" 
      name="nombre"    [(ngModel)]="comment.comment">
      <small id="emailHelp" class="form-text text-muted">add comment</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>