<div class="card-columns">
  <div class="card" style="width: 18rem;margin-top: 15px" *ngFor="let user of users">
      <img [src]="user.avatar" class="card-img-top" [alt]="user.nombre">
      <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
       
        <!-- <a [routerLink]="['/hero', i]" class="btn btn-dark">Go to Mission!</a> -->
        <button type="button" (click)="selectUser(user.id)" class="btn btn-success">Enter!</button>
      </div>
    </div>