<div class="card mb-3" style="max-width: 540px;" *ngFor="let post of posts">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img [src]="post.avatar" class="card-img-top" [alt]="post.username">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.review}}</p>
        <button type="button" (click)="comment(post.id)" class="btn btn-success">Comment!</button>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
  </div>
</div>
